<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="yes" name="apple-touch-fullscreen">
  	<meta content="telephone=no,email=no" name="format-detection">
  	<link rel="stylesheet" href="{% static 'css/info.css' %}">
  	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
  	<script src="{% static 'js/vue1.js' %}"></script>
	<title>领取说明</title>
</head>
<body id="app">
	<div class="section">
		<div class="body-wrap">每天优惠享不停</div>
		<div class="activity-rule">
			<div class="activity-title">
				<span class="line"></span>
				<span class="title">领取说明</span>
			</div>

			<span class="rule-line">1. 点击「马上领券」即可复制优惠券地址。</span>
			<span class="rule-line">2. 复制成功后，请在UC浏览器、QQ浏览器,或者其他任意浏览器中打开链接。</span>
			<span class="rule-line">3. 在打开的页面中领取优惠券下单购买，即可享受优惠。</span>
			<template v-for="item in items">
				<span class="rule-line">{{ item.name }}</span>
			</template>
		</div>
	</div>
	<script>
		var app = new Vue({
			el:'#app',
			data : {
				items:[
					{name:'xiaotuoxie'},
					{name:'datuoxie'},
					{name:'zhongtuoxie'},
				],
			},
		})
	</script>
</body>
</html>