[data-dpr="2"] .item-section {
	font-size: 24px;
}

[data-dpr="3"] .item-section {
	font-size: 36px;
}

html,body {
	height: 100%;
}

[data-dpr="2"] .item-header {
	font-size: 34px;
}
[data-dpr="3"] .item-header {
	font-size:46px;
}

.item-header {
	height: 1.6rem;
	width: 100%;
	background-color: #ee0a3b;
	color:#fff;
	line-height: 1.6rem;
	text-align: center;
	font-size: 18px;
	font-weight:700;
	position: relative;
}

.item-header .search-icon {
	background: url(http://192.168.3.128:8000/static/img/search-icon-white.png);
	background-size: cover;
	width: 0.5333333rem;
	height: 0.5333333rem;
	float: left;
	position: absolute;
	transform: translate(0,-50%);
	top:50%;
	left:0.5333333rem;
}

.item-header .content{
	position: absolute;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	left:50%;
	top:50%;
}
[data-dpr="2"] .item-header span {
	font-size: 26px;
}

[data-dpr="3"] .item-header span {
	font-size: 36px;
}

.item-header span {
	float: right;
	margin-right: 0.5333333rem;
	font-size: 12px;
}

.item-section {
	min-height: 100%;
	background-color:#ee0a3b;
	position: relative;
	font-size: 12px;
}


.item-section ul {
	padding:0.1333333rem;
}

.flag {
	display: table;
	width: 100%;
	margin-bottom: 1px;
	background: #fff;
}

.flag .figure.flag-item {
	width: 2.4rem;
	height: 2.4rem;
}

.flag .figure.flag-item img {
	width: 2.4rem;
	height: 2.4rem;
	vertical-align: top;
}

.flag .flag-item {
	display: table-cell;
	padding: 0.16rem 0;
	vertical-align: top;
	background-color: #fff;
}

.flag .flag-item.figcaption {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	position: relative;
}

.flag-title a {
	color:#333;
	display: box;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	line-height: 1.25;
	-webkit-line-clamp:2;
	line-clamp:2;	
}

.flag-price {
	padding: 0.15rem 0 0.2rem;
}

[data-dpr="2"] .flag .flag-price span {
	font-size: 22px;
}

[date-dpr="3"] .flag .flag-price span {
	font-size: 33px;
}

.flag .flag-price span {
	display: inline-block;
	background-color: #ee0a3b;
	vertical-align: middle;
	border-radius: .026667rem;
	padding: 0.026667rem 0.08rem 0.013333rem;
	color:#fff;
	font-weight: 700;
	margin-right: .066667rem;
	font-size: 11px;
}

[data-dpr="2"] .flag .flag-price strong {
	font-size: 32px;
}

[data-dpr="3"] .flag .flag-price strong {
	font-size: 48px;
}

.flag .flag-price strong {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	color:#ee0a3b;
	font-size: 16px;
	margin-right: 0.16rem;
}

[data-dpr="2"] .flag .flag-price small {
	font-size: 24px;
}

[data-dpr="3"] .flag .flag-price small {
	font-size: 36px;
}

.flag .flag-price small {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	font-size: 12px;
	color:#ee0a3b;
}

.flag .flag-type {
	color:#ff3600;
}

[data-dpr="2"] .flag .flag-btn {
	font-size: 28px;
}

[data-dpr="3"] .flag .flag-btn {
	font-size: 42px;
}

.flag .flag-btn {
	position: absolute;
	bottom:0.133333rem;
	right:0.2rem;
	border-radius: .026667rem;
	width:2.133333rem;
	height: 0.64rem;
	line-height: 0.64rem;
	background-color: #ee0a3b;
	text-align: center;
	color:#fff;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
}
[data-dpr="2"] .flag .flag-btn-clicked {
	font-size: 28px;
}

[data-dpr="3"] .flag .flag-btn-clicked {
	font-size: 42px;
}

.flag .flag-btn-clicked {
	position: absolute;
	bottom:0.133333rem;
	right:0.2rem;
	border-radius: .026667rem;
	width:2.133333rem;
	height: 0.64rem;
	line-height: 0.64rem;
	background-color: #FFE079;
	text-align: center;
	color:#2D2D2B;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
}

[data-dpr="2"] .flag .flag-btn-none-clicked {
	font-size: 28px;
}

[data-dpr="3"] .flag .flag-btn-none-clicked {
	font-size: 42px;
}

.flag .flag-btn-none-clicked {
	position: absolute;
	bottom:0.133333rem;
	right:0.2rem;
	border-radius: .026667rem;
	width:2.133333rem;
	height: 0.64rem;
	line-height: 0.64rem;
	background-color: #ee0a3b;
	text-align: center;
	color:#fff;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
}

.pop-up {
	display:block;
	position: fixed;
	overflow: auto;
	width:100%;
	height:100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,.3);
}

.pop-inner {
	width:80%;
	height: 40%;
	border-radius: 0.08rem;
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform:translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #FAF9FC;
}

[data-dpr="2"] .pop-inner .header {
	font-size: 32px;
}

[data-dpr="3"] .pop-inner .header {
	font-size: 46px;
}
.pop-inner .header {
	text-align: center;
	font-size: 20px;
	color:#FF6905;
	margin-top: 0.533333rem;

}

.pop-up .content {
	width: 100%;
	min-height: 60%;
	margin-top: 0.26666rem;
	overflow: scroll;
}

[data-dpr="2"] .btn-cancel {
	font-size:24px;
}

[data-dpr="3"] .btn-cancel {
	font-size:34px;
}

.btn-cancel {
	position: absolute;
	transform: translate(-50%,0);
	-webkit-transform:translate(-50%,0);
	left:50%;
	width: 2.13333rem;
	height:0.64rem;
	border-radius: 0.0266667rem;
	line-height: 0.64rem;
	text-align: center;
	background-color: #ee0a3b;
	color:#fff;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
}

.spinner-container {
	width: 100%;
	height: 1.28rem;
	position: relative;
}

.spinner {
  margin-right: auto;
  margin-left: auto;
  margin-top:0.32rem;
  width: 0.64rem;
  height: 0.64rem;
  text-align: center;
  font-size: 10px;
  display: block;
}


.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 0.08rem;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.tooltip {
	background-color: #24292E;
	opacity: 0.88834;
	color:#fff;
	border-radius: 
	font-weight: 700;
	text-align: center;
	line-height: 1.0666667rem;
	width: 60%;
	height:1.0666667rem;
	position: fixed;
	top:10%;
	left:20%;
	border-radius: 0.08rem;
}

/*弹窗提示样式*/
.modal-tips {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	left:0;
	z-index:200;
	background: rgba(0,0,0,.5);
}

.modal-tips-content {
	background: #fff;
	z-index: 11;
	width: 90%;
	position: absolute;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-webkit-top:50%;
	-webkit-top:50%;
	top:50%;
	left: 50%;
	margin: 0 auto;
	padding-bottom: 0.4rem;
	-webkit-box-shadow: 0 0.0526rem 0.01333333rem rgba(0,0,0,.5);
	border-radius: 0.01333333rem;
}


.btn-close {
	z-index: 2;
	cursor: pointer;
	background: url(http://192.168.3.128:8000/static/img/cancel.png);
	width:0.58666667rem;
	height: 0.58666667rem;
	background-size: cover;
	position: absolute;
	right: -0.2666666rem;
	top:-0.2666666rem;
	text-decoration:none;
}

[data-dpr="2"] .dialog.normal h3 {
	font-size: 28px;
}
[data-dpr="3"] .dialog.normal h3 {
	font-size: 42px;
}

.dialog.normal h3 {
	color: #333;
	overflow: hidden;
	padding: 0.5333333rem 0 0.4rem;
	font-size: 16px;
}

[data-dpr="2"] .dialog.normal p {
	font-size: 20px;
}

[data-dpr="3"] .dialog.normal p {
	font-size: 28px;
}

.dialog.normal p {
	color:#666;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
	word-wrap: break-word; 
	word-break:break-all;
	background-color: #FFE079;
	margin-left: 0.2666666rem;
	margin-right: 0.2666666rem;
}

[data-dpr="2"] .opter.bot {
	font-size: 22px;
}

[data-dpr="3"] .opter.bot {
	font-size: 34px;
}

.opter.bot {
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0.5333333rem;
	color:#666;
	word-wrap: break-word; 
	word-break: normal; 
}

[data-dpr="2"] #no-more-tip {
	font-size: 20px;
}

[data-dpr="3"] #no-more-tip {
	font-size: 28px;
}

#no-more-tip {
	width:100%;
	color:#fff;
	font-size: 12px;
	text-align: center;
	position: absolute;
	transform: translate(0,-50%);
	top:50%;
	-webkit-transform:translate(0.-50%);
	-webkit-top:50%;
}

