html,body {
	height: 100%;
}

.section {
	min-height: 100%;
}

[data-dpr="2"] .body-wrap {
	font-size:32px;
}
[data-dpr="3"] .body-wrap {
	font-size:42px;
}

.body-wrap {
	width: 100%;
	height: 4rem;
	margin:0;
	background: url(http://192.168.3.128:8000/static/img/coupon_background.png) no-repeat;
	background-size: cover;
	text-align: center;
	line-height: 4rem;
	color:#fff;
	font-weight: 400;
	font-size:22px;
}

.activity-rule {
	background-color: #fff;
	padding: 0 0.533333rem;
}

.activity-rule .activity-title {
	text-align: center;
	margin-top: 0.533333rem;
	color:#9b9b9b;
}

.activity-rule .activity-title .line {
	width: 100%;
	display: block;
	border-top: 0.04rem dashed #eee;
	z-index: 1;
	margin-top: 0.533333rem;
}

[data-dpr="2"] .activity-rule .activity-title .title {
	font-size: 30px;
}

[data-dpr="3"] .activity-rule .activity-title .title {
	font-size: 40px;
}

.activity-rule .activity-title .title {
	background-color: #fff;
	position: relative;
	bottom:0.26666667rem;
	z-index: 2;
	display: inline-block;
	font-size: 20px;
}

[data-dpr="2"] .activity-rule .rule-line {
	font-size: 24px;
}

[data-dpr="3"] .activity-rule .rule-line {
	font-size: 34px;
}

.activity-rule .rule-line {
	margin-bottom: 0.26666667rem;
	display: block;
	color:#9b9b9b;
	font-size:16px;
	line-height: 1.8;
}

